<div class="container" id="main-container">
    <div class="row">
        <h1 class="title">Tasks</h1>
    </div>
    <div class="row d-flex justify-content-start flex-row-reverse">
        <div class="add-task-link btn btn-success">
            <%= link_to "Add task", new_task_path, class: "text-light" %>
        </div>
    </div>
    <div class="container" id="tasks-container">
        <% @tasks.each do |task| %>
            <div class="row">
                <div class="col-3 d-inline-flex p-2">
                    <% if task.completed  %>
                        <input type="checkbox" class="checkbox" checked>
                    <% else %>
                        <input type="checkbox" class="checkbox">
                    <% end %>
                </div>

                <div class="col-6 task-info">
                    <div class="task-title"><%= link_to task.title.capitalize, task_path(id = task.id) %></div>
                    <div class="task-details"><%= "#{task.details.capitalize}" %></div>
                </div>
            </div>
            <hr class="divider">
        <% end %>
    </div>
</div>
